# Shareholders verification

The last part of the company structure preparation is the process of providing details about your shareholders.

1. For individuals - the process looks the same as for directors verification (see more here: [directors-verification.md](../add-edit-directors/directors-verification.md "mention")).
2. For corporations- only limited data is collected (company number and jurisdiction) to perform sanction checks.

### Individual shareholders

On the left side of the screen you will see a list of shareholders prepared on previous steps. You can switch between individual's names and company names. If the entity name is followed by a green "OK" icon then all required information has been provided. Click on the "Continue" button after completing all required information to move to the next step.

<figure><img src="../../../.gitbook/assets/cs_verif_individual.png" alt=""><figcaption><p>Shareholders verification - individuals, personal data</p></figcaption></figure>

Now you can provide an individual shareholder's residential address - pick one from the list or enter a new one manually. Click on the "Continue" button after completing all required information to move to the next step.

<figure><img src="../../../.gitbook/assets/cs_verif_individual_2.png" alt=""><figcaption><p>Shareholders verification - individuals, residential address</p></figcaption></figure>

In this step you are asked to provide an individual shareholder's identity document. Pick one of the following identity document types: passport, national ID card or driving license. After choosing the type, enter documents data (country of issue / citizenship, number, issue and expiry date) and upload document photo.

<figure><img src="../../../.gitbook/assets/cs_verif_individual_3.png" alt=""><figcaption><p>Shareholders verification - individuals, identity document</p></figcaption></figure>

Repeat those steps for all individual shareholders included in your structure.

### Corporate shareholders

For corporate shareholders only limited data is collected: company number and jurisdiction. This data allows us to perform a sanction check.

<figure><img src="../../../.gitbook/assets/cs_verif.png" alt=""><figcaption><p>Shareholders verification - corporates, company details</p></figcaption></figure>

Repeat those steps for all corporate shareholders included in your structure.

It is the last step of completing data in the "Company shareholders" section of your profile. By pressing the "Continue" button you will be redirected to the "Thank you" screen.

<figure><img src="../../../.gitbook/assets/cs_completed.png" alt=""><figcaption><p>Company structure - completed</p></figcaption></figure>

If you were only modifying part of your data, you can click on "X" button to go back to "Your company profile" screen.
