# Directors verification

The directors verification process involves providing personal data in the following areas:

1. Personal data.
2. Residential address.
3. Identity document.

You can navigate directly to the "Directors verification" screen by clicking on the "Directors verification" navigation element on the top of the screen.

### Directors verification

On the left side of the screen you will see a list of directors prepared on previous steps. You can switch between their names. If the director name is followed by a green "OK" icon then all required information has been provided. Click on the "Continue" button after completing all required information to move to the next step.

<figure><img src="../../../docs/Images/dir_personal2 (1).png" alt="Directors - personal data"><figcaption><p>Directors - personal data</p></figcaption></figure>

Now you can provide the director's residential address - pick one from the list or enter a new one manually. Click on the "Continue" button after completing all required information to move to the next step.

<figure><img src="../../../.gitbook/assets/dir_address.png" alt="Directors - residential address"><figcaption><p>Directors - residential address</p></figcaption></figure>

In this step you are asked to provide the director's identity document. Pick one of the following identity document types: passport, national ID card or driving license. After choosing the type, enter documents data (country of issue / citizenship, number, issue and expiry date) and upload document photo.

<figure><img src="../../../.gitbook/assets/dir_identity.png" alt="Directors - identity document"><figcaption><p>Directors - identity document</p></figcaption></figure>

Repeat these steps for all directors included in your company's directors list.

This is the last step of completing data in the "Directors" section of your profile. By pressing the "Finish" button you will be redirected to the "Thank you" screen.

<figure><img src="../../../.gitbook/assets/dir_finished.png" alt="Directors - required data completed"><figcaption><p>Directors - required data completed</p></figcaption></figure>

In the next section you will be asked to provide details about your company structure. If you were only modifying part of your data, you can click on "X" button to go back to "Your company profile" screen.
